@use "colors";
@use "variables" as vars;

section.article {
  padding: vars.$gap-normal;
  @media (max-width: 768px) {
    padding: vars.$gap-normal 0;
  }

  .article-body {
    max-width: vars.$content-width - 2 * vars.$gap-small;

    > .row {
      $border-radius: vars.$radius-large;
      background-color: color-mix(in srgb, currentColor 5%, transparent);
      overflow: hidden;
      position: relative;
      z-index: 0;
      border-radius: $border-radius;
      @media (max-width: 768px) {
        border-radius: 0;
      }

      @media (min-width: 769px) {
        &:before {
          $border-width: 2px;
          content: "";
          position: absolute;
          inset: 0 auto 0 0;
          border-radius: $border-radius + $border-width;
          padding: $border-width;
          background: linear-gradient(
            to top right,
            color-mix(in srgb, currentColor 50%, transparent) 10%,
            transparent 40%
          );
          aspect-ratio: 1/1;
          height: calc(100% - 2 * $border-width);
          width: 50%;
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
          z-index: -1;
        }
      }

      @media (max-width: 768px) {
        &:after {
          content: "";
          width: 100%;
          height: 3em;
          background-color: color-mix(in srgb, currentColor 5%, transparent);
        }
      }

      .content-wrapper {
        .content {
          font-size: 18px;
          padding: vars.$gap-large;
          @media (max-width: 768px) {
            padding: vars.$gap-normal;
          }
        }

        h3 {
          font-size: 2em;
          font-weight: 600;
          line-height: 1.2em;
          color: currentColor;
        }

        h4,
        .h4 {
          padding-top: 0.5em;
          font-size: 1.2em;
          font-weight: 300;
          line-height: 1.33em;
          color: currentColor;
        }

        .h4 {
          font-weight: 600;
        }

        hr {
          color: currentColor;
          height: 0px;
          margin: 1.5em 0;
          border: 0;
          display: block;
          border-bottom: 2px dotted currentColor;
        }

        p {
          color: color-mix(in srgb, colors.$neutral 60%, white);
          line-height: 1.6em;
          font-weight: 300;
          letter-spacing: 0.015em;

          &:not(:last-of-type) {
            padding-bottom: 1em;
          }
        }
      }

      .image-wrapper {
        position: relative;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* cover without distortion */
          object-position: center; /* center horizontally & vertically */
          display: block;
        }
      }
    }

    &.content-side-right {
      > .row {
        @media (min-width: 769px) {
          flex-direction: row-reverse;

          &:before {
            inset: 0 0 0 auto;
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}
