@use 'colors';
@use 'variables' as vars;

div.bullet {
  line-height: 1.5em;
  font-size: 24px;

  @media (max-width: vars.$mobile-break-max) {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .icon {
    font-size: 2em;
    background-color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px currentColor;

    background: linear-gradient(
      to top,
      currentColor 0%,
      color-mix(in srgb, currentColor 50%, white) 70%
    );

    span {
      color: white;
      max-width: 1em;
    }
  }

  .text {
    font-weight: 300;
    color: colors.$text;
    margin-top: 1em;

    @media (max-width: vars.$mobile-break-max) {
      margin-top: 0.5em;
      max-width: 90%;
    }
  }
}
