@use "colors";
@use "variables" as vars;

.card-body {
  border-radius: vars.$radius-large;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .heading {
    height: 100px;
    background: linear-gradient(
      to top,
      color-mix(in srgb, white 40%, transparent),
      color-mix(in srgb, white 90%, transparent)
    );
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 2px;
    border-radius: vars.$radius-large vars.$radius-large 0 0;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);

    h2 {
      font-size: 40px;
      height: 60px;
    }

    h3 {
      font-size: 30px;
      height: 39px;
      line-height: 1em;
      font-weight: 500;
    }

    h2,
    h3 {
      font-family: vars.$font-headings-compact;
      text-align: center;
      color: black;
      text-shadow: 0 0 0.25em white;
    }

    hr {
      width: 100%;
      border: none;
      height: 12px;
      background: linear-gradient(
        to right,
        transparent 0%,
        white 50%,
        transparent 100%
      );
      margin: 0;
    }
  }

  .content {
    background: linear-gradient(
      to top,
      white 0%,
      color-mix(in srgb, white 80%, transparent) 40%
    );
    margin: vars.$gap-small;
    margin-top: 330px;
    border-radius: vars.$radius-large - 0.75 * vars.$gap-small;
    padding: vars.$gap-small vars.$gap-small * 1.5;

    .details {
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 1em;
      text-align: center;
    }

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    a[role="button"] {
      width: fit-content;
      margin: auto;
    }
  }
}
