@use "colors";

.color-primary {
  color: colors.$primary;
}
.color-primary-highlight {
  color: colors.$primary_highlight;
}
.color-primary_glow {
  color: colors.$primary_glow;
}
.color-secondary-dark {
  color: colors.$secondary_dark;
}
.color-secondary {
  color: colors.$secondary;
}
.color-secondary-highlight {
  color: colors.$secondary_highlight;
}
.color-tertiary-dark {
  color: colors.$tertiary_dark;
}
.color-tertiary {
  color: colors.$tertiary;
}
.color-tertiary-highlight {
  color: colors.$tertiary_highlight;
}
.color-tertiary-glow {
  color: colors.$tertiary_glow;
}
.color-neutral {
  color: colors.$neutral;
}
.color-error {
  color: colors.$error;
}
.color-warning {
  color: colors.$warning;
}
