$primary: #004abb;
$primary_highlight: #108fff;
$primary_glow: #85fdff;

$secondary_dark: #007000;
$secondary: #00ad00;
$secondary_highlight: #10ff1d;

$tertiary_dark: #7d4521;
$tertiary: #b37048;
$tertiary_highlight: #e6a27a;
$tertiary_glow: #f1dfd0;

$neutral: #080008;

$error: #f78474;
$warning: #f3d350;

$text: color-mix(in srgb, $neutral 80%, white);
$text-light: color-mix(in srgb, $neutral 60%, white);

.color-primary {
  color: $primary;
}
.color-primary-highlight {
  color: $primary_highlight;
}
.color-primary_glow {
  color: $primary_glow;
}
.color-secondary-dark {
  color: $secondary_dark;
}
.color-secondary {
  color: $secondary;
}
.color-secondary-highlight {
  color: $secondary_highlight;
}
.color-tertiary-dark {
  color: $tertiary_dark;
}
.color-tertiary {
  color: $tertiary;
}
.color-tertiary-highlight {
  color: $tertiary_highlight;
}
.color-tertiary-glow {
  color: $tertiary_glow;
}
.color-neutral {
  color: $neutral;
}
.color-error {
  color: $error;
}
.color-warning {
  color: $warning;
}
