@use 'colors';
@use 'variables' as vars;

.contact-links {
  font-size: 1.3em;
  * {
    color: colors.$primary_highlight;
    text-decoration: none;
  }

  .text {
    margin-left: 0.5em;

    .channel {
      margin-right: 0.5em;
      display: inline-block;
      font-weight: bolder;
    }
  }

  a {
    padding: 0.5em 0;
    width: max-content;

    &:hover {
      * {
        color: colors.$primary;
      }
    }
  }
}
