@use "colors";
@use "variables" as vars;

footer {
  position: relative;
  margin-top: vars.$gap-xl;

  background-image: linear-gradient(
    to bottom,
    color-mix(in srgb, colors.$neutral 60%, white),
    color-mix(in srgb, colors.$neutral 80%, white)
  );
  color: color-mix(in srgb, colors.$neutral 30%, white);

  $card-width: 220px;
  $card-gap: vars.$gap-large;

  > section {
    > .row {
      background-image: url("/media/logo-icon-transparent.svg");
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 480px;
      margin: 20px auto;
      height: 100%;
    }
  }

  .row.top {
    margin-top: vars.$gap-small;
    .logo {
      max-width: $card-width + $card-gap;
      display: flex;
      max-height: vars.$gap-large;

      a {
        height: 80px;
        width: 241.46px;
        border-radius: 40px 10px 10px 40px;
      }
    }

    .contact {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      height: vars.$gap-large;
      max-width: 270px;

      li {
        margin: 0;
        padding: 0;

        a {
          color: currentColor;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;

          .icon {
            margin-right: 0.5em;
            margin-bottom: -0.1em;
          }

          transition: color 0.1s ease-out;

          &:hover,
          &:focus-visible {
            color: white;
          }
        }
      }
    }
  }

  .row.cards {
    align-items: flex-start;
    gap: $card-gap;
    margin-top: vars.$gap-large;

    a {
      text-decoration: none;

      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: $card-width;

      .title {
        font-size: 18px;
        font-weight: 600;
        color: currentColor;
      }

      .details {
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 300;
      }

      .cta {
        font-size: 14px;
        .text {
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
        }

        .icon {
          font-size: 1.7em;
          line-height: 0.6em;
        }
      }
    }
  }

  .row.bottom {
    border-top: 1px solid currentColor;
    margin-top: vars.$gap-large;

    > .col {
      margin-top: vars.$gap-small;
    }

    .copyright {
      font-size: 14px;
      line-height: 1.2em;
      font-weight: 300;
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1em;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
      }

      .icon-link {
        width: 24px;
        height: 24px;
        display: block;
      }
    }
  }

  a,
  .icon-link {
    color: currentColor;
    filter: brightness(1);
    transition: filter 0.1s ease-out;

    &:hover,
    &:focus-visible {
      filter: brightness(2);
    }
  }
}
