@use "colors";

html,
body {
  background-color: white;
  color: color-mix(in srgb, colors.$neutral 80%, white);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.invisible-text {
  font-size: 0;
  line-height: 0;
  opacity: 0;
  user-select: none;
}
