@use "colors";
@use "variables" as vars;

section.hero {
  background-position: center !important;

  @media (max-width: vars.$mobile-break-max) {
    border-radius: 0 !important;
  }

  .row {
    max-width: vars.$content-width + 2 * vars.$gap-xl;
    justify-content: center;

    .col {
      max-width: vars.$content-width - 2 * vars.$gap-small;
    }

    background-image: linear-gradient(
      to bottom,
      currentColor 2px,
      color-mix(in srgb, currentColor 95%, transparent) vars.$gap-normal,
      color-mix(in srgb, currentColor 80%, transparent) 75%,
      color-mix(in srgb, currentColor 55%, transparent) 100%
    );

    .hero {
      margin-top: vars.$gap-normal;
      color: white;
    }

    h2 {
      color: colors.$warning;
      font-size: 51px;
      font-weight: 600;
      letter-spacing: 0.015em;
      margin: 0;
      padding: 0;
      line-height: 1em;
      margin-top: 0.2em;
      margin-bottom: -0.2em;

      @media (max-width: vars.$mobile-break-max) {
        font-size: 36px;
      }
    }

    h3 {
      font-family: vars.$font-body;
      font-size: 24px;
      line-height: 1.6em;
      color: white;
      font-weight: 300;
      margin-top: vars.$gap-normal;
      max-width: 70%;

      @media (max-width: vars.$mobile-break-max) {
        font-size: 19px;
        max-width: initial;
        margin-top: vars.$gap-small;
      }

      span {
        font-weight: 700;
        display: block;
        @media (max-width: vars.$mobile-break-max) {
          font-size: 1.4em;
          color: colors.$warning;
          margin-bottom: 0.5em;
        }
      }
    }

    .cta {
      margin-top: vars.$gap-normal;
      margin-bottom: 1.5em;
      max-width: fit-content;
      padding-right: 3em;
      padding-left: 3em;
      box-shadow: 0 5px 3px color-mix(in srgb, black 50%, transparent);

      @media (max-width: vars.$mobile-break-max) {
        margin-top: -30px !important;
        max-width: unset;
        span {
          white-space: nowrap;
        }
      }
    }
    .hero-one-button {
      margin-top: 3em;
    }

    .hero-buttons {
      display: flex;
      gap: 0.25em;

      @media (max-width: vars.$mobile-break-max) {
        flex-direction: column;
        gap: 1em;
      }

      @media (min-width: vars.$mobile-break-min) {
        .cta {
          margin-top: 0;
          &:first-of-type {
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            padding-right: 2em;
          }
          &:last-of-type {
            border-top-left-radius: 14px;
            border-bottom-left-radius: 14px;
            padding-left: 2em;
          }
        }
      }
    }

    @media (max-width: vars.$mobile-break-max) {
      padding: vars.$gap-small vars.$gap-normal !important;
    }
  }

  &.sliding-strip {
    position: relative;
    color: inherit;
    max-width: unset;
    background: transparent;
    background-color: transparent;

    .row {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        color-mix(in srgb, currentColor 0%, transparent) 0%,
        color-mix(in srgb, currentColor 95%, transparent) vars.$gap-xl,
        color-mix(in srgb, currentColor 95%, transparent) 65%,
        color-mix(in srgb, currentColor 0%, transparent) 100%
      );
      background-color: color-mix(in srgb, currentColor 70%, transparent);
      background-image: none;
      z-index: 1;
      @media (max-width: vars.$mobile-break-max) {
        background-color: transparent;
        background-image: linear-gradient(
          to bottom,
          color-mix(in srgb, currentColor 50%, transparent) 0%,
          color-mix(in srgb, currentColor 95%, transparent) 10%,
          color-mix(in srgb, currentColor 95%, transparent) 50%,
          color-mix(in srgb, currentColor 50%, transparent) 100%
        );
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 10000%;
      height: 100%;

      inset: 0;
      background-color: colors.$primary_glow;

      @media (min-width: vars.$mobile-break-min) {
        background: url("/media/hero-strip.webp") repeat-x;
        background-size: auto 100%;
        animation: slide-bg-transform 3000s linear infinite;
        will-change: transform;
      }
    }
  }

  &.no-strip {
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    max-width: vars.$content-width - 2 * vars.$gap-small;
    border-radius: 0 0 vars.$radius-large vars.$radius-large;
    overflow: hidden;

    .row {
      padding: vars.$gap-small vars.$gap-large vars.$gap-normal vars.$gap-large;
    }
  }
}

@keyframes slide-bg-transform {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-90%);
  }
}

.hero-logo {
  filter: brightness(1.75);
  width: 280px;
  margin-bottom: -3em;
}

section.hero-quote {
  $portrait-size: 240px;
  $background-light: colors.$primary_highlight;
  $background-dark: colors.$primary;
  z-index: 1;

  background: linear-gradient(
    to right,
    $background-light 50%,
    $background-dark 50%
  );

  .row {
    background: linear-gradient(to right, $background-light, $background-dark);
    padding-top: 0;
    padding-bottom: 0;

    .hero-quote-body {
      position: relative;
      display: flex;
      color: white;
      padding: vars.$gap-medium 0;
      @media (max-width: vars.$mobile-break-max) {
        flex-direction: column;
      }

      .quote {
        font-family: vars.$font-body;
        font-size: 24px;
        line-height: 1.5em;
        font-style: italic;
        font-weight: 200;
        margin-left: -1em;
        letter-spacing: 0.015em;
        color: white;
        @media (max-width: vars.$mobile-break-max) {
          margin-left: 0;
          margin-top: 3em;
          margin-bottom: 1em;
        }

        strong {
          font-weight: 300;
        }
      }

      .quotation-mark {
        max-height: $portrait-size * 0.5;
        color: white;
        font-size: 400px;
        line-height: 0.4em;
        min-width: $portrait-size * 0.5;
        max-width: $portrait-size * 0.5;
        user-select: none;
        opacity: 0.1;
        @media (max-width: vars.$mobile-break-max) {
          line-height: 0.6em;
        }

        span {
          margin-left: -0.05em;
        }
      }

      .person {
        min-width: $portrait-size * 0.8;
        letter-spacing: 0.06em;
        @media (max-width: vars.$mobile-break-max) {
          position: absolute;
          top: 140px;
          right: 0;
        }

        .name {
          font-size: 18px;
          line-height: 36px;
          font-weight: 700;
          text-transform: uppercase;
          @media (max-width: vars.$mobile-break-max) {
            font-size: 16px;
            text-align: right;
          }
        }

        .title {
          font-size: 16px;
          line-height: 22px;
          font-weight: 200;
          max-width: 70%;
          @media (max-width: vars.$mobile-break-max) {
            position: absolute;
            right: 0;
            font-size: 14px;
            text-align: right;
            max-width: unset;
            width: 130%;
            line-height: 10px;
          }
        }
      }

      .portrait {
        min-width: $portrait-size;
        max-width: $portrait-size;
        width: $portrait-size;
        margin: -$portrait-size * 0.5 - vars.$gap-medium vars.$gap-normal;
        @media (max-width: vars.$mobile-break-max) {
          position: absolute;
          margin: 0;
          right: -40px;
          top: -60px;
          scale: 0.67;
        }

        img {
          aspect-ratio: 1/1;
          width: $portrait-size;
          border-radius: 50%;
        }
      }
    }
  }
}

@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100000px 0;
  }
}
