@use "colors";
@use "variables" as vars;

section.hero {
  background-image: url("/media/hero-strip.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
  animation: slide-bg 3600s linear infinite;

  .row {
    max-width: vars.$content-width + 2 * vars.$gap-xl;
    justify-content: center;

    .col {
      max-width: vars.$content-width - 2 * vars.$gap-small;
    }

    background-image: linear-gradient(
      to right,
      color-mix(in srgb, colors.$primary 0%, transparent) 0%,
      color-mix(in srgb, colors.$primary 95%, transparent) vars.$gap-xl,
      color-mix(in srgb, colors.$primary 95%, transparent) 65%,
      color-mix(in srgb, colors.$primary 0%, transparent) 100%
    );

    .hero {
      margin-top: 0.25em;
      color: white;
    }

    h2 {
      color: colors.$warning;
      font-size: 51px;
      font-weight: 600;
      letter-spacing: 0.015em;
      margin: 0;
      padding: 0;
      line-height: 1em;
      margin-top: 0.2em;
      margin-bottom: -0.2em;
    }

    h3 {
      font-family: vars.$font-body;
      font-size: 24px;
      line-height: 1.6em;
      color: white;
      max-width: 70%;
    }

    .cta {
      margin-top: 2em;
      margin-bottom: 1.5em;
      max-width: fit-content;
      padding-right: 3em;
      padding-left: 3em;
    }
  }
}

section.hero-quote {
  $portrait-size: 240px;
  $background-light: colors.$primary_highlight;
  $background-dark: colors.$primary;

  background: linear-gradient(
    to right,
    $background-light 50%,
    $background-dark 50%
  );

  .row {
    background: linear-gradient(to right, $background-light, $background-dark);
    padding-top: 0;
    padding-bottom: 0;

    article {
      display: flex;
      color: white;
      padding: vars.$gap-medium 0;

      .quote {
        font-family: vars.$font-body;
        font-size: 24px;
        line-height: 1.5em;
        font-style: italic;
        font-weight: 200;
        margin-left: -1em;
        letter-spacing: 0.015em;

        strong {
          font-weight: 300;
        }
      }

      .quotation-mark {
        max-height: $portrait-size * 0.5;
        color: white;
        font-size: 400px;
        line-height: 0.4em;
        min-width: $portrait-size * 0.5;
        max-width: $portrait-size * 0.5;
        user-select: none;
        opacity: 0.1;

        span {
          margin-left: -0.05em;
        }
      }

      .person {
        min-width: $portrait-size;
        letter-spacing: 0.06em;

        .name {
          font-size: 18px;
          line-height: 36px;
          font-weight: 700;
          text-transform: uppercase;
        }

        .title {
          font-size: 16px;
          line-height: 24px;
          font-weight: 200;
        }
      }

      .portrait {
        min-width: $portrait-size;
        max-width: $portrait-size;
        width: $portrait-size;
        margin: -$portrait-size * 0.5 - vars.$gap-medium * 0.5 vars.$gap-normal;

        img {
          aspect-ratio: 1/1;
          width: $portrait-size;
          border-radius: 50%;
        }
      }
    }
  }
}

@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100000px 0;
  }
}
