@use 'colors';
@use 'variables' as vars;

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - vars.$main-height-deficit);
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-top: vars.$menu-desktop-height;

  @media (max-width: 767px) {
    padding-top: vars.$menu-mobile-height;
  }
}

footer {
  height: vars.$footer-height;
}

main,
footer {
  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &.nogap {
      gap: 0;
    }

    &.gap-xl {
      margin-top: vars.$gap-xl;
    }

    &.gap-xl-desktop {
      @media (min-width: vars.$mobile-break-min) {
        margin-top: vars.$gap-xl;
      }
    }

    div.row {
      display: flex;
      gap: vars.$gap-normal;
      width: 100%;
      max-width: vars.$content-width;
      justify-content: center;
      padding: vars.$gap-small;

      &.nogap {
        gap: 0;
      }

      &.nopadding {
        padding: 0;
      }

      @media (max-width: vars.$mobile-break-max) {
        padding: vars.$gap-normal;
        flex-direction: column;
      }

      &.tight {
        margin-bottom: -1em;
      }

      &.tight-mobile {
        @media (max-width: vars.$mobile-break-max) {
          margin-bottom: -3em;
        }
      }
    }

    div.line {
      display: flex;
      width: 100%;

      @media (max-width: vars.$mobile-break-max) {
        gap: 1em;
        flex-direction: column;
      }
    }

    div.col {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: vars.$gap-xs;

      &.nogap {
        gap: 0;
      }

      @for $i from 2 through 10 {
        &.gap-#{$i} {
          gap: #{$i}em;
        }
      }

      @for $i from 2 through 10 {
        &.span-#{$i} {
          flex: #{$i};
        }
      }
    }
  }
}

.text-centered {
  text-align: center;
}

@media (max-width: vars.$mobile-break-max) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-centered {
    text-align: center;
    max-width: 92%;
    align-self: center;
  }

  .mobile-no-gap {
    gap: 0 !important;
  }
}

@media (min-width: vars.$mobile-break-min) {
  .desktop-hidden {
    outline: 3px solid red;
    display: none !important;
  }
}

.policy-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;

  hr {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: colors.$primary;
    font-size: 1.3em;
    width: max-content;
    white-space: wrap;
    max-width: 100%;

    @media (max-width: 767px) {
      font-size: 1.15em;
    }
  }
}
