@use "variables" as vars;

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - vars.$main-height-deficit);
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-x: hidden;
  padding-top: vars.$menu-desktop-height;

  @media (max-width: 767px) {
    padding-top: vars.$menu-mobile-height;
  }
}

footer {
  height: vars.$footer-height;
}

main,
footer {
  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &.nogap {
      gap: 0;
    }

    &.gap-xl {
      margin-top: vars.$gap-xl;
    }

    div.row {
      display: flex;
      gap: vars.$gap-normal;
      width: 100%;
      max-width: vars.$content-width;
      padding: vars.$gap-small;

      &.nogap {
        gap: 0;
      }

      &.nopadding {
        padding: 0;
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    div.line {
      display: flex;
      width: 100%;

      @media (max-width: 767px) {
        gap: 1em;
        flex-direction: column;
      }
    }

    div.col {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: vars.$gap-xs;

      &.nogap {
        gap: 0;
      }

      @for $i from 2 through 10 {
        &.gap-#{$i} {
          gap: #{$i}em;
        }
      }

      @for $i from 2 through 10 {
        &.span-#{$i} {
          flex: #{$i};
        }
      }
    }
  }
}

.text-centered {
  text-align: center;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-centered {
    align-items: center;

    * {
      text-align: center;
    }
  }

  .mobile-no-gap {
    gap: 0 !important;
  }
}

@media (min-width: 768px) {
  .desktop-hidden {
    display: none !important;
  }
}
