@use 'colors';
@use 'variables' as vars;

article.step {
  $number-size: 120px;
  flex: 1;
  position: relative;
  display: flex;
  margin-top: $number-size * 0.5;

  .number {
    position: absolute;
    top: -$number-size * 0.5;
    left: 50%;
    margin-left: -$number-size * 0.5;
    width: $number-size;
    height: $number-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: vars.$font-headings;
    font-size: $number-size * 0.6;
    font-weight: 800;
    box-shadow: inset 0 0 20px currentColor;
    background: linear-gradient(
      to top,
      currentColor 0%,
      color-mix(in srgb, currentColor 60%, white) 70%
    );

    span {
      color: white;
    }

    @media (max-width: vars.$mobile-break-max) {
      scale: 0.8;
    }
  }

  .content {
    flex: 1;
    $backround-shade: color-mix(in srgb, currentColor 10%, white);
    position: relative;
    z-index: 0;
    background: linear-gradient(to top, $backround-shade, white 70%);
    padding: vars.$gap-normal;
    text-align: center;
    border-radius: vars.$radius-large;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    // gradient border
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2px;
      background: linear-gradient(to bottom, currentColor 0%, transparent 70%);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      z-index: -1;
    }

    h3 {
      font-weight: 600;
      font-size: 36px;
      margin: 1.25em auto 0 auto;
      color: currentColor;
    }

    img {
      border-radius: 50%;
      box-shadow: 0 0 2.5em color-mix(in srgb, currentColor 30%, transparent);
      outline: 4px dotted color-mix(in srgb, currentColor 80%, white);
      outline-offset: 5px;
      scale: 0.9;
    }

    p {
      font-size: 21px;
      line-height: 30px;
      font-weight: 300;
      max-width: 80%;
      margin: 0.25em auto 0.5em auto;
      flex: 1 1 auto;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
