@use "colors";

.theme- {
  &primary {
    color: colors.$primary;
  }
  &primary-light {
    color: colors.$primary_highlight;
  }
  &secondary {
    color: colors.$secondary;
  }
  &secondary-dark {
    color: colors.$secondary_dark;
  }
  &tertiary {
    color: colors.$tertiary;
  }
  &light {
    color: white;
  }
  &dark {
    color: colors.$neutral;
  }
}
