@use "sass:math";
@use "variables" as vars;
@use "colors";

// @import url("https://use.typekit.net/wiq3geo.css");

// Almaq Refined
// font-family: "almaq-refined", sans-serif;
// font-weight: 400;

// Basic Sans
// font-family: "basic-sans", sans-serif;
// Thin: 100;
// ExtraLight: 200;
// Light: 300;
// Regular: 400;
// SemiBold: 600;
// Bold: 700;
// Black: 900;

// Optima nova LT Pro
// font-family: "optima-nova-lt-pro", sans-serif;
// Light: 300;
// Regular: 400;
// Medium: 500;
// Demi: 600;
// Bold: 700;
// Heavy: 800;
// Black: 900;

body {
  font-family: vars.$font-body;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$font-headings;
  padding: 0;
  margin: 0;
}

@mixin heading-font($coef: 1) {
  $heading-font-weight: 600;
  $heading-font-size: 64px;
  font-weight: math.div($heading-font-weight, $coef);
  font-size: $heading-font-size * $coef;
  color: colors.$text-light;

  @media (max-width: 767px) {
    font-size: $heading-font-size * $coef * 0.75;
  }
}

h1,
.h1 {
  @include heading-font(1);

  &.hero {
    font-family: vars.$font-hero;
    font-size: 120px;
    letter-spacing: 0.015em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1em;

    @media (max-width: 767px) {
      font-size: 48px;
      font-weight: 800;
    }
  }
}

h2,
.h2 {
  @include heading-font(0.6);
}

h3,
.h3 {
  @include heading-font(0.4);
}

h4,
.h4 {
  @include heading-font(0.3);
}

h5,
.h5 {
  @include heading-font(0.23);
}

h6,
.h6 {
  @include heading-font(0.18);
}

ul {
  // list-style: none;
  padding: 0 1em 1em 1em;
  margin: 0;

  li {
    margin-bottom: 0.5em;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.small {
    li {
      font-size: 0.85em;
    }
  }

  &.no-bullets {
    list-style: none;
    padding-left: 0;
  }

  &.spaced-1 {
    > li {
      margin-bottom: 1em;
    }
  }

  &.spaced-2 {
    > li {
      margin-bottom: 2em;
    }
  }
}

p,
span.p {
  display: block;

  &.small {
    font-size: 0.8em;
    font-weight: 300;
  }

  &.large {
    font-size: 1.7em;
    font-weight: 500;
  }
}

.text-thin {
  font-weight: 200 !important;
}

.strong {
  font-weight: bolder;
}

.hidden-decoration {
  text-decoration: none;
}

.fit-text {
  max-width: fit-content;
}
