$crosshatch-size: 5em;
$menu-desktop-height: 120px;
$menu-desktop-block: 200px;
$menu-mobile-height: 80px;
$content-width: 1400px;
$footer-height: 560px;

$gap-xs: 15px;
$gap-small: 20px;
$gap-medium: 30px;
$gap-normal: 40px;
$gap-large: 80px;
$gap-xl: 100px;

$main-height-deficit: $menu-desktop-height + $footer-height + $gap-small;

$radius-normal: 18px;
$radius-large: 24px;

$font-body: "basic-sans", sans-serif;
$font-hero: "almaq-refined", sans-serif;
$font-headings: "optima-nova-lt-pro", sans-serif;
$font-headings-compact: "optima-nova-lt-pro-cond", sans-serif;
$font-icons: "Material Icons";
