$crosshatch-size: 5em;
$menu-desktop-size: 90px;
$menu-mobile-size: 60px;
$content-width: 1400px;

$gap-small: 20px;
$gap-normal: 40px;
$gap-large: 80px;
$gap-xl: 100px;

$radius-normal: 18px;
$radius-large: 24px;
